html,
body {
  // padding: 0;
  // margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  // text-decoration: none;
}

* {
  box-sizing: border-box;
}



.open-master {
  z-index: 3 !important;
}

.open-master-bg {
  z-index: 2 !important;
}

.open-bellow {
  z-index: 1 !important;
}

.open-bellow-bg {
  z-index: 0 !important;
}

.header-height {
  height: 80px !important;
  z-index: 3;
}

.header-offset {
  top: 80px !important;
}

@media only screen and (min-width: 990px) {
  .header-offset-divided-down-lg {
    top: 40px !important;
  }
}

.bottom-tab-height {
  height: 50px !important;
  z-index: 3;
}

.bottom-tab-offset {
  top: 50px !important;
}


.product-bar-position-adapter {
  position: relative !important;
}

.offcanvas-height-adapter {
  height: auto !important;
}

.rounded-desktop-only {
  border-radius: var(--bs-border-radius)!important;
}

.border-desktop-only {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}
.border-mobile-only {
  border: 0px !important;
}

hr {
  border-color: var(--bs-border-color) !important;
  opacity: 1 !important;
}

@media only screen and (max-width: 991px) {
  .offcanvas-height-adapter {
    height: 100% !important;
  }
  .product-bar-position-adapter {
    position: absolute !important;
    width: 100% !important;
    bottom: 50px !important;
  }
  .rounded-desktop-only {
    border-radius: 0 !important;
  }

  .border-desktop-only {
    border: 0px !important;
  }

  .border-mobile-only {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
  }

  .bottom-tab-content-offset {
    padding-bottom: 50px !important;
  }
}

.dropdown-menu {
  z-index: 2 !important;
}

.offcanvas-backdrop, .offcanvas-end {
  z-index: 1 !important;
}

.not-arrow .dropdown-toggle::after {
  display: none !important; 
}

.text-ellipsis-2{
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
