html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header-height {
  height: 80px !important;
  z-index: 3;
}

.header-offset {
  top: 80px !important;
}

.dropdown-menu {
  z-index: 2 !important;
}

.offcanvas-backdrop, .offcanvas-end {
  z-index: 1 !important;
}

.not-arrow .dropdown-toggle::after {
  display: none !important; 
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
