html,
body {
  // padding: 0;
  // margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  // text-decoration: none;
}
a.hover-bump {
  transition: all .2s linear;
}

a.hover-bump:hover {
  box-shadow: 0 2px 8px rgb(0 0 0 / 12%);
  transform: scale(1.02);
}


.modal-backdrop.show, .offcanvas-backdrop.show {
  opacity: .1 !important;
}

.modal.show, .modal-backdrop.show, .offcanvas-backdrop.show {
  cursor: pointer !important;
}

.modal-dialog {
  cursor: default !important;
}

.anchor[id]::before {
  content: '';
  display: block;
  height:      155px !important;
  margin-top: -155px !important;
  visibility: hidden;
}

.header-offset-top {
  top: 80px !important;
}

// header mobile
@media only screen and (max-width: 991px) {
  .mobile-header-height {
    height: 45px !important;
  }

  .header-offset-top {
    top: 45px !important;
  }

  .anchor[id]::before {
    height:      120px !important;
    margin-top: -120px !important;
  }

  //offcanvas width 100% mobile only
  .w-mobile-100 {
    width: 100% !important;
  }
}

* {
  box-sizing: border-box;
}



.open-master {
  z-index: 7 !important;
}

.open-master-bg {
  z-index: 6 !important;
}

.open-bellow {
  z-index: 5 !important;
}

.open-bellow-bg {
  z-index: 4 !important;
}

.header-height {
  height: 80px !important;
  z-index: 3;
}

.header-offset {
  top: 0px !important;
}

@media only screen and (min-width: 990px) {
  .header-offset-divided-down-lg {
    top: 40px !important;
  }

  //remove header desktop offset
  .header-offset {
    top: 80px !important;
  }
}

.bottom-tab-height {
  height: 50px !important;
  z-index: 3;
}

.bottom-tab-offset {
  top: 50px !important;
}


.product-bar-position-adapter {
  position: relative !important;
}

.offcanvas-height-adapter {
  height: auto !important;
}

.rounded-desktop-only {
  border-radius: var(--bs-border-radius)!important;
}

.border-desktop-only {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}
.border-mobile-only {
  border: 0px !important;
}

hr {
  border-color: var(--bs-border-color) !important;
  opacity: 1 !important;
}

@media only screen and (max-width: 991px) {
  .offcanvas-height-adapter {
    height: 100% !important;
  }
  .product-bar-position-adapter {
    position: absolute !important;
    width: 100% !important;
    bottom: 50px !important;
  }
  .rounded-desktop-only {
    border-radius: 0 !important;
  }

  .border-desktop-only {
    border: 0px !important;
  }

  .border-mobile-only {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
  }

  .display{
    display:flex !important;
    flex-direction: column !important;
  }

  .bottom-tab-content-offset {
    padding-bottom: 50px !important;
  }
}

.dropdown-menu {
  z-index: 4 !important;
}

.offcanvas-backdrop, .offcanvas-end {
  z-index: 4 !important;
}

.not-arrow .dropdown-toggle::after {
  display: none !important; 
}

.text-ellipsis-2 {
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.text-ellipsis-1 {
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }


@media (min-width: 992px) {
  .overflow-lg-auto {
    overflow: auto!important;
  }
  .position-lg-absolute {
    position: absolute!important;
  }
}